* {
	margin: 0;
	padding: 0;
	outline: 0;
}

@font-face {
	font-family: 'Luckiest';
	src: url('../fonts/LuckiestGuy-Regular.ttf'); 
}

@font-face {
	font-family: 'Open';
	src: url('../fonts/OpenSans-Regular.ttf');
}

h1 {
	font-family: 'Luckiest'
}

#container {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #F3B75E;
	overflow: hidden;
}

#fechar_container_bottom {
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 786px;
	width: 1366px;
	height: 20px;
	background-color: #F3B75E;
	overflow: hidden;
}

#tela_principal {
	position: absolute;
	width: 1366px;
	height: 768px;
	background: #F3B75E url('../img/background.png');
	background-repeat: repeat;
}
